workflow/transcript-to-crm.json
{
  "name": "Transcript to CRM (human approval)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Sales Call to CRM",
        "formDescription": "Paste a sales-call transcript. An LLM extracts the key fields, then routes them to you for review before anything is saved.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Source"
            }
          ]
        },
        "options": {
          "customCss": ".rev-card { border:1px solid #e5e7eb; border-radius:12px; padding:18px 20px; background:#ffffff; box-shadow:0 1px 4px rgba(0,0,0,.07); }\nh3, h4 { margin:10px 0 6px; }"
        }
      },
      "id": "735eb91f-67c5-4fcf-930c-7261be3702ef",
      "name": "New Transcript",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1104,
        256
      ],
      "webhookId": "bce40e4c-eeb4-471b-b671-58dff486f5c9"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst transcript = (input.Transcript || input.transcript || input.text || '').toString().trim();\nif (!transcript) { throw new Error('No transcript provided.'); }\nconst source = (input.Source || input.source || 'manual').toString();\n\nconst SYSTEM_PROMPT = [\n  'You are a sales-call data extraction assistant for Bell & McCoy Integrated Solutions, a lighting and home-automation manufacturers rep agency serving the luxury home market. Read the transcript and return ONLY one valid JSON object, no markdown. Keys:',\n  '- company_name: account/company name, or null',\n  '- contact_name: the person name, or null',\n  '- summary: 2 to 3 factual sentences, no invented details',\n  '- action_items: array of short imperative strings; empty array if none',\n  '- order_intent: object with present (boolean), products (array of objects with name and quantity), timeline (string or null), notes (string or null)',\n  '- project_name: the project or job the call is about, or null',\n  '- customer_type: caller role, one of: architect, designer, builder, home automation integrator, window treatment, landscape, contractor, homeowner, other',\n  '- product_category: best-fit line, one of: lighting control, automated shading, LED and architectural lighting, landscape lighting, outdoor audio, whole-home surge, outdoor living, other',\n  '- territory_state: the US state the project is in (2-letter code), or null',\n  '- priority: high, medium, or low (high when there is a tight deadline or the deal is being pushed)',\n  '- risk_flags: array using ONLY these values: pricing_objection, late_delivery_complaint, competitor_mentioned, timeline_risk, spec_change; empty array if none',\n  '- missing_or_ambiguous: array of field names you could not confidently fill',\n  '- confidence: one of high, medium, low',\n  '- needs_human_review: boolean',\n  '',\n  'Rules:',\n  '- Never invent facts. If a value is not clearly stated, use null (or empty array, or present false) and add the field name to missing_or_ambiguous.',\n  '- If the caller references a previous deal instead of specifics (for example same as the school job, or do what you did before), do not guess products: set order_intent.present true, leave products empty, and explain the reference in notes and in missing_or_ambiguous.',\n  '- Record pricing objections, deadlines and callback requests as action_items.',\n  '- Add a risk flag only when clearly supported by the transcript.',\n  '- For customer_type and product_category pick the closest option; if unclear use other.',\n  '- Set needs_human_review true and confidence low whenever company_name or contact_name is missing, or products or quantities are implied but unknown.',\n  'Return only the JSON object.'\n].join('\\n');\n\nconst body = {\n  model: 'gpt-4o-mini',\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: SYSTEM_PROMPT },\n    { role: 'user', content: 'Transcript:\\n\\n' + transcript }\n  ]\n};\n\nreturn [{ json: { transcript, source, received_at: new Date().toISOString(), body } }];"
      },
      "id": "9d1094df-e49c-4c51-b341-54dcb2005d4f",
      "name": "Normalize & Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "1015db59-f1cf-4087-bdad-d50b4269f778",
      "name": "LLM Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "O18ugvmCOzOd8rTa",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet content = '';\ntry { content = raw.choices[0].message.content; } catch (e) { content = ''; }\ncontent = (content || '').replace(/```json/gi, '').replace(/```/g, '').trim();\n\nlet data; let parseError = false;\ntry { data = JSON.parse(content); } catch (e) { data = {}; parseError = true; }\n\nconst norm = $('Normalize & Build Request').first().json;\n\nconst missing = Array.isArray(data.missing_or_ambiguous) ? data.missing_or_ambiguous.slice() : [];\nif (!data.company_name && missing.indexOf('company_name') === -1) missing.push('company_name');\nif (!data.contact_name && missing.indexOf('contact_name') === -1) missing.push('contact_name');\n\nconst confidence = data.confidence || (parseError ? 'low' : 'medium');\nconst needsReview = parseError || data.needs_human_review === true || missing.length > 0 || confidence === 'low';\n\nconst items = Array.isArray(data.action_items) ? data.action_items : [];\nconst products = (data.order_intent && Array.isArray(data.order_intent.products)) ? data.order_intent.products : [];\nconst risks = Array.isArray(data.risk_flags) ? data.risk_flags : [];\n\nconst preview = [(needsReview ? 'NEEDS REVIEW' : 'Looks complete'), 'Company: ' + (data.company_name || '(missing)'), 'Contact: ' + (data.contact_name || '(missing)')].join('\\n');\n\nconst esc = s => (s == null ? '' : String(s));\nconst oi = data.order_intent || {};\nconst row = (k, v) => '<b>' + k + ':</b> ' + v + '<br>';\nconst bannerHtml = needsReview\n  ? '<h3>⚠️ NEEDS REVIEW</h3>' + (missing.length ? ('<p><b>Missing / ambiguous:</b> ' + missing.join(', ') + '</p>') : '')\n  : '<h3>✅ Looks complete</h3>';\nconst risksHtml = risks.length ? ('<p><b>🚩 Risk flags:</b> ' + risks.join(', ') + '</p>') : '';\nconst itemsHtml = items.length ? ('<ul>' + items.map(a => '<li>' + esc(a) + '</li>').join('') + '</ul>') : '<p><i>None</i></p>';\nconst prodHtml = products.length ? ('<ul>' + products.map(p => '<li>' + esc(p.name) + (p.quantity ? (' &times; ' + p.quantity) : '') + '</li>').join('') + '</ul>') : '<p><i>None specified</i></p>';\n\nconst previewHtml =\n  bannerHtml + risksHtml + '<hr>' +\n  row('Company', esc(data.company_name) || '<i>(missing)</i>') +\n  row('Contact', esc(data.contact_name) || '<i>(missing)</i>') +\n  row('Confidence', confidence) +\n  '<h4>Routing &amp; classification</h4>' +\n  row('Customer type', esc(data.customer_type) || '<i>(unknown)</i>') +\n  row('Product line', esc(data.product_category) || '<i>(unknown)</i>') +\n  row('Territory', esc(data.territory_state) || '<i>(unknown)</i>') +\n  row('Project', esc(data.project_name) || '<i>(none)</i>') +\n  row('Priority', esc(data.priority) || '<i>(n/a)</i>') +\n  '<h4>Summary</h4><div>' + (esc(data.summary) || '<i>(none)</i>') + '</div>' +\n  '<h4>Action items</h4>' + itemsHtml +\n  '<h4>Order intent</h4>' + row('Present', oi.present ? 'YES' : 'no') + '<b>Products:</b>' + prodHtml +\n  row('Timeline', esc(oi.timeline) || '<i>(none)</i>') +\n  row('Notes', esc(oi.notes) || '<i>(none)</i>');\n\nreturn [{ json: {\n  extracted: data, missing, confidence, needs_review: needsReview, parse_error: parseError,\n  preview, preview_html: previewHtml,\n  transcript: norm.transcript, source: norm.source, received_at: norm.received_at\n} }];"
      },
      "id": "78ab1cac-e7de-4a10-a9a4-c798499c14ab",
      "name": "Validate & Flag Gaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        256
      ]
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "elementName": "extracted-preview",
              "html": "{{ $json.preview_html }}\n\n"
            },
            {
              "fieldLabel": "Company name"
            },
            {
              "fieldLabel": "Contact name"
            },
            {
              "fieldLabel": "Decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve"
                  },
                  {
                    "option": "Reject"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Reviewer notes",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "af218b21-fb66-4f7a-91c9-3181b9d3f36e",
      "name": "Review & Approve",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -224,
        256
      ],
      "webhookId": "49f640f4-183c-4113-9126-0c9f5026b769"
    },
    {
      "parameters": {
        "jsCode": "const form = $input.first().json;\nconst v = $('Validate & Flag Gaps').first().json;\nconst ex = v.extracted || {};\n\nconst companyOverride = (form['Company name'] || '').toString().trim();\nconst contactOverride = (form['Contact name'] || '').toString().trim();\nconst decision = (form['Decision'] || 'Reject').toString();\nconst notes = (form['Reviewer notes'] || '').toString();\nconst approved = decision.toLowerCase().indexOf('approve') !== -1;\n\nconst company = companyOverride || ex.company_name || null;\nconst contact = contactOverride || ex.contact_name || null;\nconst territory = ex.territory_state || 'n/a';\nconst prio = ex.priority || 'n/a';\n\nlet missing = Array.isArray(v.missing) ? v.missing.slice() : [];\nif (company) missing = missing.filter(m => m !== 'company_name');\nif (contact) missing = missing.filter(m => m !== 'contact_name');\n\nconst notifyBody = [\n  'A new sales-call opportunity was approved in the CRM.',\n  '',\n  'Account:       ' + (company || 'Unknown'),\n  'Contact:       ' + (contact || 'n/a'),\n  'Project:       ' + (ex.project_name || 'n/a'),\n  'Territory:     ' + territory,\n  'Product line:  ' + (ex.product_category || 'n/a'),\n  'Customer type: ' + (ex.customer_type || 'n/a'),\n  'Priority:      ' + prio,\n  'Risk flags:    ' + ((ex.risk_flags || []).join(', ') || 'none'),\n  '',\n  'Summary: ' + (ex.summary || ''),\n  '',\n  'Reviewer notes: ' + (notes || '(none)')\n].join('\\n');\n\nreturn [{ json: {\n  decision, approved, reviewer_notes: notes,\n  notify: {\n    subject: 'New opportunity — ' + (company || 'Unknown') + ' (' + territory + ', ' + prio + ' priority)',\n    body: notifyBody\n  },\n  record: {\n    company_name: company,\n    contact_name: contact,\n    summary: ex.summary || null,\n    action_items: JSON.stringify(ex.action_items || []),\n    order_intent: JSON.stringify(ex.order_intent || {}),\n    project_name: ex.project_name || null,\n    customer_type: ex.customer_type || null,\n    product_category: ex.product_category || null,\n    territory_state: ex.territory_state || null,\n    priority: ex.priority || null,\n    risk_flags: JSON.stringify(ex.risk_flags || []),\n    missing_fields: JSON.stringify(missing),\n    confidence: v.confidence || 'low',\n    status: approved ? 'approved' : 'rejected',\n    source: v.source || 'manual',\n    raw_transcript: v.transcript || ''\n  }\n} }];"
      },
      "id": "59dc7e19-8085-4c9d-a6d8-805a9ce4f48c",
      "name": "Apply Edits & Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "851537c5-7b10-4463-89e5-49ea40ea678f",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        256
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "sales_call_records",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.record.company_name }}",
            "contact_name": "={{ $json.record.contact_name }}",
            "summary": "={{ $json.record.summary }}",
            "action_items": "={{ $json.record.action_items }}",
            "order_intent": "={{ $json.record.order_intent }}",
            "project_name": "={{ $json.record.project_name }}",
            "customer_type": "={{ $json.record.customer_type }}",
            "product_category": "={{ $json.record.product_category }}",
            "territory_state": "={{ $json.record.territory_state }}",
            "priority": "={{ $json.record.priority }}",
            "risk_flags": "={{ $json.record.risk_flags }}",
            "missing_fields": "={{ $json.record.missing_fields }}",
            "confidence": "={{ $json.record.confidence }}",
            "status": "={{ $json.record.status }}",
            "source": "={{ $json.record.source }}",
            "raw_transcript": "={{ $json.record.raw_transcript }}"
          }
        },
        "options": {}
      },
      "id": "648aa444-8984-4d23-bd34-5474f4c279c3",
      "name": "Insert into CRM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        432,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "QkjgPQlwGGu4HFmK",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "REPLACE_WITH_YOUR_EMAIL@gmail.com",
        "subject": "={{ $('Apply Edits & Decision').first().json.notify.subject }}",
        "emailType": "text",
        "message": "={{ $('Apply Edits & Decision').first().json.notify.body }}",
        "options": {}
      },
      "id": "b1f0c2a4-1111-4222-8333-444455556666",
      "name": "Notify Rep",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        144
      ],
      "webhookId": "c2f0c2a4-1111-4222-8333-444455556667",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CRED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Saved to CRM",
        "completionMessage": "The record was approved and written to the system of record.",
        "options": {}
      },
      "id": "84b21a42-6f35-4720-8f01-b7d32f6251ac",
      "name": "Saved",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        880,
        144
      ],
      "webhookId": "5bb89a30-4258-4161-ad1d-9ff7b3bc82f6"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Rejected",
        "completionMessage": "The record was rejected and was NOT written. Nothing saved.",
        "options": {}
      },
      "id": "44d27898-80ff-40b0-8696-754e4065dfb9",
      "name": "Rejected",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        432,
        368
      ],
      "webhookId": "86ac8002-559f-4450-9b8a-f3f4062f5049"
    }
  ],
  "pinData": {},
  "connections": {
    "New Transcript": {
      "main": [
        [
          {
            "node": "Normalize & Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Build Request": {
      "main": [
        [
          {
            "node": "LLM Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Extract": {
      "main": [
        [
          {
            "node": "Validate & Flag Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Flag Gaps": {
      "main": [
        [
          {
            "node": "Review & Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review & Approve": {
      "main": [
        [
          {
            "node": "Apply Edits & Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Edits & Decision": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Insert into CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into CRM": {
      "main": [
        [
          {
            "node": "Notify Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Rep": {
      "main": [
        [
          {
            "node": "Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}